*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif; ;
}

.limite-largura{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}


/* responsivo */

@media (max-width:401px){
    .limite-largura{
        width: 95%;
    }
}
@media (min-width:402px) and (max-width:768px){
    .limite-largura{
        width: 95%;
    }
}