.banner {
    background-image: url(../../public/Assets/banner2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    object-fit: cover;
    height: 90vh;
}

.banner_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 40px 0px;
    border: 1px solid #daa520;
    border-radius: 3px;
    background: transparent;
    backdrop-filter: blur(10px);
}
.banner_content h1{
    font-size: 52px;
    color:#fff;
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
}

.banner_content p{
    font-family: 'Dancing Script', cursive;
    font-size: 36px;
    width: 60%;
    text-align: center;
    color:#f3f3f3;
}

.show_pratos{
    margin-bottom: 40px;
}

.show_pratos h1{
    font-family:'Dancing Script', cursive;
    font-size: 30px;
    text-align: center;
    color:#daa520;
    padding:50px 0px 10px;
}

.show_card_container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap:40px;
    padding:20px;
    background-color: #f3f3f3;
    border-radius: 5px;
}

/* responsivo */

@media (max-width:1100px){
    .titulo {
        width: 90%;
    }
}

@media (max-width:768px){
    .banner {
        background-size: cover;
        height: 80vh;
    }
    
    
    .titulo {
        width: 90%;
    }
}

@media (max-width:400px){
    .banner {
        background-size: cover;
        height: 80vh;
    }

    .banner_content h1{
        font-size: 42px;
    }
    
    .banner_content p{
        font-size: 30px;
    }   
}