.footer_content{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom:10px;
}

.p_footer{
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    
}

.span_footer{
 color:#daa520;
 text-decoration: underline;
}