.btn_section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap:10px;
    width: 100%;
    padding: 40px 0px 20px;
}

.btn_off{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 150px;
    gap:5px;
    padding:10px;
    width: 150px;
    border:none;
    font-weight:600;
    border-radius: 5px;
    cursor: pointer;
}

.btn_section img{
    width: 20px;
    height: 20px;
}

.btn_on{
    background-color: #daa520;
    flex: 1 1 150px;
}

/* responsivo */

@media (max-width:401px){
    .btn_section{
      width: 90%;
    }
}

@media (min-width:402px) and (max-width:768px){
    .btn_section{
      width: 95%;
    }
}
